/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: white;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex;
  align-items: flex;
}

.container h1 {
  width: 100%;
  font-size: 5rem;
  text-align: center;
  background-color: darkcyan;
  color: white;
  border-bottom: 5px solid white;
}

.container .rtt {
  width: 100%;
  padding: 2%;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: underline;
}

.users-container {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
}

.button-container {
  width: 100%;
  margin: 1% 0;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid #fff;
  border-radius: 3px;
}

.nav-bar {
  background-color: whitesmoke;
  border: 1px solid grey;
}

.button-container button {
  padding: 0;
  border: 1px solid darkcyan;
  border-radius: 5px;
}

button.button-key-cleaner {
  background-color: white;
  color: green;
}

button.button-date-cleaner {
  background-color: darkcyan;
  color: #fff;
  font-size: medium;
}

button.button-reset {
  padding: 0;
  background-color: white;
  color: red;
  border: 2px solid red;
  border-radius: 10px;
}

.button-container button,
.button-container form {
  width: 33%;
  margin: 1% 5%;
}

form {
  background: transparent;
}

h1 #main-header {
  color: white;
  margin-top: 2%;
  padding-top: 1%;
  background-color: darkcyan;
  font-size: larger;
}
